manifest updated=(date-time)"2026-06-30T08:30:19.245670+00:00" version=1 {
	file hash="d6d67366cd035b077a91f9e37372c943" path="doctypes.kdl"
	file hash="36bd888ea0d70381a0d8819f64556e00" path="default/abstract.include"
	file hash="2d047e9fbf42b426e281e368cce03989" path="default/bs-extensions.include"
	file hash="5b76b0eef9af8a2300673e0553f609f9" path="default/computed-metadata.include"
	file hash="672044a7629c3b67f95bc9ef7efa7daf" path="default/copyright.include"
	file hash="8a80554c91d9fca8acb82f023de02f11" path="default/defaults.include"
	file hash="f54e1fc4b6ce32fc559c82d46cf57a2e" path="default/footer.include"
	file hash="d8d0ca96965e06069f5745214f9b3f46" path="default/header.include"
	file hash="d41d8cd98f00b204e9800998ecf8427e" path="default/logo.include"
	file hash="32b949e384381367218a83668da6be99" path="default/status.include"
	file hash="a830086bc92807a8ce6664e08f5e447d" path="default/stylesheet.include"
	file hash="308e15bc4b5046a85550aff4579bfccf" path="default/warning-branch.include"
	file hash="8dd1239e6175bb635b6f64a231d66bee" path="default/warning-commit.include"
	file hash="f1c9e479c469eae700846968419f0124" path="default/warning-custom.include"
	file hash="aa6e1dfd438c5d0a33c21ee7d6b0403e" path="default/warning-expired.include"
	file hash="1befefd7bf196c62a30fefc978eca7cc" path="default/warning-expires.include"
	file hash="0cba8d93f154a1a5a8ba842dccd66531" path="default/warning-new-version.include"
	file hash="5e7be1aafc1c59d61527a0221bb85c14" path="default/warning-not-ready.include"
	file hash="5a9b5bdfd5db498ed8e5513d8138c5d9" path="default/warning-obsolete.include"
	file hash="e695cdf0222c93dc2d9bedf402dade45" path="default/warning-replaced-by.include"
	file hash="ad8f8bf8eaee4244d4eec3c1f346a924" path="org-aom/copyright.include"
	file hash="9b87e46d166aa6442f039e08b1f50ad4" path="org-aom/defaults-FD.include"
	file hash="42284ee6acfa29db163d51e6ed6868dd" path="org-aom/defaults-PD.include"
	file hash="9af7385e35d4f089d11909f34833eb65" path="org-aom/defaults-WGA.include"
	file hash="7578cd2e9a541ac5ee03af2363dd66ac" path="org-aom/defaults-WGD.include"
	file hash="f12e06c3653b76ac8cc10665e8b19a1e" path="org-aom/header-FD.include"
	file hash="539b77187a1a49c99fe4289d17e1b817" path="org-aom/logo.include"
	file hash="d41d8cd98f00b204e9800998ecf8427e" path="org-bikeshed/byos/abstract.include"
	file hash="82b912bb989f75452a28c41a486a2d07" path="org-bikeshed/byos/defaults.include"
	file hash="882c892b7beaceb0c89d99000beb3660" path="org-bikeshed/test/copyright.include"
	file hash="c99bbb101b5abf92d9f8b965066bb1fe" path="org-bikeshed/test/defaults-DREAM.include"
	file hash="32a87db390924457890bf54bbb03c7a7" path="org-bikeshed/test/defaults.include"
	file hash="d41d8cd98f00b204e9800998ecf8427e" path="org-bikeshed/test/footer-DREAM.include"
	file hash="14fa58555d83a2f21705485e0359986c" path="org-bikeshed/test/footer.include"
	file hash="bf4df4a9dea7035aea6c313f8ef86462" path="org-bikeshed/test/header-DREAM.include"
	file hash="cfd918ac4b80c218433057772e18fc2d" path="org-bikeshed/test/header.include"
	file hash="d41d8cd98f00b204e9800998ecf8427e" path="org-bikeshed/test/logo.include"
	file hash="989bb8a7d0a53acff58b3356be19098e" path="org-iso/wg14/defaults.include"
	file hash="11bd5a40a5b761438e699a790fa488e9" path="org-iso/wg14/footer.include"
	file hash="c602200eb4e00b4dac5c75f2bd349973" path="org-iso/wg14/header.include"
	file hash="ecdcb620a26e962c14a338239c1c1b4b" path="org-iso/wg21/defaults.include"
	file hash="11bd5a40a5b761438e699a790fa488e9" path="org-iso/wg21/footer.include"
	file hash="ef739702003f859bec6aa681cbc527ae" path="org-iso/wg21/header.include"
	file hash="c97c811fc67d065bfb5676b24cfa97d3" path="org-khronos/webgl/copyright.include"
	file hash="90c9f32861f87160cc74009ec91ae5ff" path="org-khronos/webgl/defaults.include"
	file hash="b8b53a5151245ce48d86301227c5be68" path="org-khronos/webgl/header.include"
	file hash="e45f3defc5d8b4270a967236d923a81f" path="org-khronos/webgl/status.include"
	file hash="3c89abe73bb40b1937da6825643a04d0" path="org-tc39/defaults.include"
	file hash="11bd5a40a5b761438e699a790fa488e9" path="org-tc39/footer.include"
	file hash="9fdf0f00a3b682b2ce89160aa1faed0d" path="org-tc39/header.include"
	file hash="827bc45fbd969a9e197a5112337b9c5b" path="org-w3c/ab/footer.include"
	file hash="e4f868616913e87b5f349a5b2db63aea" path="org-w3c/ab/status.include"
	file hash="da84331da8b9c6201af6b6324410fc6a" path="org-w3c/act-rules-format/copyright.include"
	file hash="4d01d89867d158fc5f09f9edd8824611" path="org-w3c/act-rules-format/status.include"
	file hash="9590603a4c7bdacd817ea1f98f5bff56" path="org-w3c/audiowg/defaults.include"
	file hash="bd8374f3053e1b992f3744e4fcc9eead" path="org-w3c/audiowg/status-CR.include"
	file hash="4548b3b573df9c52082d509cab6adf59" path="org-w3c/audiowg/status-ED.include"
	file hash="7643fd1c5f49815bb96bd2dbc3b45c66" path="org-w3c/audiowg/status-FPWD.include"
	file hash="759ddb10aa92576f82bfba1a6aee192c" path="org-w3c/audiowg/status-WD.include"
	file hash="73e95a7a653f881366af6c3437ba0c95" path="org-w3c/browser-testing-tools/status.include"
	file hash="e310e191177e51fe1f39006802c4e4de" path="org-w3c/copyright.include"
	file hash="a285e73aed45e0015185047b90b2731a" path="org-w3c/council/copyright.include"
	file hash="28a3a326efb2a8c987957cc9eb49621d" path="org-w3c/council/header.include"
	file hash="e310e191177e51fe1f39006802c4e4de" path="org-w3c/cssnext/copyright.include"
	file hash="faa017e58f53faaf91c0e2200514986c" path="org-w3c/cssnext/defaults.include"
	file hash="07d8b54e9959209e97be35f1320f33fa" path="org-w3c/cssnext/footer-NOTE.include"
	file hash="b66c0faee1aa1a78ed7f059a55405ebe" path="org-w3c/cssnext/footer.include"
	file hash="ba67a92d71a7541c593ce08a4aed9488" path="org-w3c/cssnext/header.include"
	file hash="2fad5ace8ae612323c6067975f25e300" path="org-w3c/cssnext/logo.include"
	file hash="3f4cbfa1f289d0b4a69332b49de16bce" path="org-w3c/cssnext/status.include"
	file hash="9a8c53a5f72b89bf8de4519f0f41cb46" path="org-w3c/csswg/abstract.include"
	file hash="3feead45e1c1e892a14173747c597ef8" path="org-w3c/csswg/computed-metadata.include"
	file hash="635c8a783e1b1b4831f92078c1d98a82" path="org-w3c/csswg/copyright-DREAM.include"
	file hash="3fcf1f7845c6a23ca945198f4efe124d" path="org-w3c/csswg/defaults-ED.include"
	file hash="9845a6e4ec2393016fa82371d72f0cb7" path="org-w3c/csswg/defaults.include"
	file hash="0dcef32ad657a8b0a37872a05746b3a6" path="org-w3c/csswg/footer.include"
	file hash="41fafeaa32ce7a15d254ae8bf376277f" path="org-w3c/csswg/status.include"
	file hash="f578914f4fffa76a5855f8d314e88dd8" path="org-w3c/csswg/warning-not-ready.include"
	file hash="62f805f404f38b140865043f155cc5c4" path="org-w3c/csswg/warning-obsolete.include"
	file hash="4130ab38cd204954cda4e09ec65e6ec4" path="org-w3c/dap/defaults.include"
	file hash="77c74a1d21566b2f6b4bee7a231701e8" path="org-w3c/dap/status-CR.include"
	file hash="497a07a6415912f1ed52d11604dbabe0" path="org-w3c/dap/status-CRD.include"
	file hash="2d32c0efc5aa386f2ec2408c78201819" path="org-w3c/dap/status-DISC.include"
	file hash="d4133a529cd5177613e4abc641cbf434" path="org-w3c/dap/status-ED.include"
	file hash="20904ab8f04defa118fba276d9bc2f40" path="org-w3c/dap/status-FPWD.include"
	file hash="da0627f84b58d7060c81766033611a67" path="org-w3c/dap/status-NOTE.include"
	file hash="a0bf9fd02f7b4fd36b826d06e8a59d1c" path="org-w3c/dap/status-WD.include"
	file hash="faa017e58f53faaf91c0e2200514986c" path="org-w3c/defaults.include"
	file hash="c40ae9900c3470e22cf943b6aa9aa932" path="org-w3c/fedid/status-ED.include"
	file hash="56067ba86570dbc8ba72494d272448b8" path="org-w3c/fedid/status-FPWD.include"
	file hash="6f791f0e9e7c143f23a49cd400ad9b46" path="org-w3c/fedidcg/copyright.include"
	file hash="d15b6e87763b113bcc41809bb278a838" path="org-w3c/fedidcg/defaults.include"
	file hash="0612f747dc2dd5a0eb4037ca58934034" path="org-w3c/fedidcg/header.include"
	file hash="77e6ecb79249827dad92bd286995d7f1" path="org-w3c/fedidcg/status.include"
	file hash="07d8b54e9959209e97be35f1320f33fa" path="org-w3c/footer-NOTE.include"
	file hash="b66c0faee1aa1a78ed7f059a55405ebe" path="org-w3c/footer.include"
	file hash="af4f9866231fd3528673f5ce4c9d6893" path="org-w3c/fxtf/bs-extensions.include"
	file hash="2e312d3ca9620217c0c8e16b85207603" path="org-w3c/fxtf/defaults-ED.include"
	file hash="d5fe9d97579619421b836dc72b79f588" path="org-w3c/fxtf/defaults.include"
	file hash="dccd9c6244ee3c985c89c449ad671e3e" path="org-w3c/fxtf/footer-CR.include"
	file hash="dfa49afca5ede3c73db4346967364f06" path="org-w3c/fxtf/footer.include"
	file hash="03b836af409f655912691fa67f49c0df" path="org-w3c/fxtf/status-CR.include"
	file hash="b32072226cde875fcb9bc4c9267cc1da" path="org-w3c/fxtf/status-ED.include"
	file hash="ee81521b7ef0dbfb3049c13ae5c039e9" path="org-w3c/fxtf/status-FPWD.include"
	file hash="1bcd0e845c7d4a42fff866e6b885ac01" path="org-w3c/fxtf/status-LCWD.include"
	file hash="c0e0647421e7b6648178051f233d85a3" path="org-w3c/fxtf/status-WD.include"
	file hash="7fb12064780097a9df0a69b3c2e129d1" path="org-w3c/geolocation/defaults.include"
	file hash="5b61a63162126bc1004a20836bce0581" path="org-w3c/geolocation/status-ED.include"
	file hash="e4d0b7297f72ebbd7ee735fbd2a92cda" path="org-w3c/gpuwg/defaults.include"
	file hash="4ed540a38a2b4f8cb4ae94ed8785890d" path="org-w3c/gpuwg/status.include"
	file hash="b493b6335dd360cff3ae003199076f2f" path="org-w3c/header.include"
	file hash="af4f9866231fd3528673f5ce4c9d6893" path="org-w3c/houdini/bs-extensions.include"
	file hash="25d671cc840baa43a0be681499ef1ca4" path="org-w3c/houdini/defaults.include"
	file hash="07d8b54e9959209e97be35f1320f33fa" path="org-w3c/houdini/footer-NOTE.include"
	file hash="dfa49afca5ede3c73db4346967364f06" path="org-w3c/houdini/footer.include"
	file hash="aef576831041ea09f1152033d4481adf" path="org-w3c/houdini/status.include"
	file hash="2e9f1f96c0f30b2f44510ea688690320" path="org-w3c/html/status-CR.include"
	file hash="aa3c0368d656f3d18a8bb6be9b84758c" path="org-w3c/html/status-ED.include"
	file hash="a8b1efac415ee5e87348042bdd18c3af" path="org-w3c/html/status-LCWD.include"
	file hash="df9c7838d0ef0877cdb8e5cf1cfd24e2" path="org-w3c/html/status-PR.include"
	file hash="eed9c903714139fbb8a17393f81b603c" path="org-w3c/html/status-WD.include"
	file hash="26724904ae1cef39127d9b58b8be3a1e" path="org-w3c/htmlwg/copyright.include"
	file hash="195cf8f0d9a1c43bad83d923cab49dfd" path="org-w3c/htmlwg/status.include"
	file hash="879aa8ebfc8639dddef05ff44e234161" path="org-w3c/httpslocal/copyright.include"
	file hash="9295c6eaa8f0b0b7bf1e36cf835a89d7" path="org-w3c/httpslocal/status-CG-DRAFT.include"
	file hash="50659a9c4da5f329c3eb0c9f86448df6" path="org-w3c/httpslocal/status-CG-FINAL.include"
	file hash="5b76b0eef9af8a2300673e0553f609f9" path="org-w3c/i18n/defaults.include"
	file hash="2902bccf9782589f9b54ab055d802505" path="org-w3c/i18n/status-CR.include"
	file hash="1632483bdd9cff727335a848daa4c646" path="org-w3c/i18n/status-ED.include"
	file hash="ca3f066c4af8cf942e220535fc85eb76" path="org-w3c/i18n/status-FPWD.include"
	file hash="923e878928878f9e99c3c412eaa32d49" path="org-w3c/i18n/status-WD.include"
	file hash="88538ca11fec7184654be63801eb7014" path="org-w3c/i18n/warning-not-ready.include"
	file hash="9f3b170e0e25bd5733d7a885127334a0" path="org-w3c/i18n/warning-obsolete.include"
	file hash="b038c35d873a518d8d53f8024b2edfa8" path="org-w3c/immersivewebwg/defaults.include"
	file hash="9829d5b6945373e81e53c21cb04c194a" path="org-w3c/immersivewebwg/status-CR.include"
	file hash="bc18317b4d184761fba67a9c5aeef5ce" path="org-w3c/immersivewebwg/status-CRD.include"
	file hash="233593b03faa446afc5ba97934c39224" path="org-w3c/immersivewebwg/status-ED.include"
	file hash="c57a870ff605dd18736672b4834bfef6" path="org-w3c/immersivewebwg/status-FPWD.include"
	file hash="9b5be5625dff0d8c5341daa9726b31ae" path="org-w3c/immersivewebwg/status-WD.include"
	file hash="5c94aa7852545130b50b0c8f74ab5b08" path="org-w3c/logo.include"
	file hash="91bc173f1020f2ae558a92c0397a4791" path="org-w3c/mediacapture/defaults.include"
	file hash="cd4c1b0db717bd4c4e277077bfd7d7de" path="org-w3c/mediacapture/status-CR.include"
	file hash="d77f9b0101a189e5b274ffbca49a31aa" path="org-w3c/mediacapture/status-ED.include"
	file hash="321f8d3d7dbd23c778a857efe89a2b4b" path="org-w3c/mediacapture/status-FPWD.include"
	file hash="cc699a8f47b65289ef0fdbe17b6e3cfe" path="org-w3c/mediacapture/status-WD.include"
	file hash="4b0839e35c1bbd636a170b44adbeff11" path="org-w3c/mediawg/defaults.include"
	file hash="08ea70ed31ee97edc461234c51e29431" path="org-w3c/mediawg/status.include"
	file hash="38053bf6412fa2284da36febaf1b7eed" path="org-w3c/patcg-id/copyright.include"
	file hash="9f3b0455ff60beea0a59c94f7f51463b" path="org-w3c/patcg-id/status.include"
	file hash="34522ad1039a09dce4a36293a9c6c03e" path="org-w3c/patwg/defaults.include"
	file hash="3fe199fdcdd85c972802b38f15067a2a" path="org-w3c/patwg/status.include"
	file hash="34863bf2c266566961b90f6ca6b927c3" path="org-w3c/ping/defaults.include"
	file hash="6802b25bcebff6651d27abd248e4436f" path="org-w3c/ping/status-ED.include"
	file hash="60032c3755741a33d8d546b2eee2359b" path="org-w3c/privacycg/copyright.include"
	file hash="f8d30b361ea5d3cce2506a187a33070e" path="org-w3c/privacycg/header.include"
	file hash="2b6d83375b464a776ef9b979806d816a" path="org-w3c/privacycg/status.include"
	file hash="782c4a12a863a92b8c72f6268095f623" path="org-w3c/processcg/status.include"
	file hash="c39677a5a731231e379db14f4e902c1b" path="org-w3c/ricg/logo.include"
	file hash="3de6db89f86162a73c1e1f01f1456bc4" path="org-w3c/ricg/status-WD.include"
	file hash="a4edad77b7fdb1d343bf9f976e0e36a6" path="org-w3c/ricg/status.include"
	file hash="15f52b44d1b2356346113ae55fd5af3f" path="org-w3c/sacg/copyright.include"
	file hash="3bb738c365613a803e7ca8c84aa0dbf3" path="org-w3c/sacg/status.include"
	file hash="c0b68e5bbdaa6c9e37204ea6ccdcdae6" path="org-w3c/secondscreencg/copyright.include"
	file hash="f57b61d9d30f7db198309ee32faf999b" path="org-w3c/secondscreencg/logo.include"
	file hash="062acc522ebe4a77c95ccf40edd91369" path="org-w3c/secondscreencg/status.include"
	file hash="da25e383e6bdfd4c3440aa2925123e95" path="org-w3c/secondscreenwg/defaults.include"
	file hash="71a6aec5c6993f5d36e4a3aec2066f72" path="org-w3c/secondscreenwg/status-ED.include"
	file hash="687ca8ec6c7050c8c5149beb491d0c96" path="org-w3c/secondscreenwg/status-FPWD.include"
	file hash="d1cbddc05ed2add2e7b60813efc809af" path="org-w3c/secondscreenwg/status-WD.include"
	file hash="690bb5ef12494c51a156c240cb892b09" path="org-w3c/serviceworkers/defaults.include"
	file hash="d161de990e50e73056d5c99ed0827e17" path="org-w3c/serviceworkers/status-CR.include"
	file hash="717a38424e2c6496b711594bcc066de8" path="org-w3c/serviceworkers/status-ED.include"
	file hash="a6e5371a804df24381de28851f849744" path="org-w3c/serviceworkers/status-WD.include"
	file hash="d95a4e22dff928e470cca1c59091387d" path="org-w3c/solidcg/copyright-CG-DRAFT.include"
	file hash="3874c4ba404ebb33ced2a8078d84e49e" path="org-w3c/solidcg/copyright-CG-FINAL.include"
	file hash="98a84ca83c404e3b99c05242c23d594e" path="org-w3c/solidcg/status-CG-DRAFT.include"
	file hash="8d8f17cce92d8cc20dcee4467bac0a43" path="org-w3c/solidcg/status-CG-FINAL.include"
	file hash="c21ff85d3454a4327ad5f81b70aa20d8" path="org-w3c/svg/defaults.include"
	file hash="083797cbf91a82ea1bda84101416ec1e" path="org-w3c/svg/status-ED.include"
	file hash="990c9211eb0494bd8a1c89fef075f316" path="org-w3c/svg/status-WD.include"
	file hash="6d88625156c099b50341119b292acc40" path="org-w3c/tag/status-DRAFT-FINDING.include"
	file hash="c34b8cd188e56925f2388f4c917cb70a" path="org-w3c/tag/status-ED.include"
	file hash="eaa90615dab93422595b96de65330507" path="org-w3c/tag/status-FINDING.include"
	file hash="3ee2a9afa2371223ccc6e69b08977792" path="org-w3c/tag/status-NOTE-ED.include"
	file hash="5fe662b9d89b41618f5bda2ece3168a3" path="org-w3c/tag/status-NOTE-WD.include"
	file hash="f0c181f443a170f0ad99a56aa6a9546b" path="org-w3c/tag/status-NOTE.include"
	file hash="4988b649a61aa3b63d7a74c12e538fe9" path="org-w3c/tag/status-UD.include"
	file hash="4988b649a61aa3b63d7a74c12e538fe9" path="org-w3c/tag/status.include"
	file hash="1c3916ee0d371fe980723cf7367a22cd" path="org-w3c/texttracks/copyright-CG-DRAFT.include"
	file hash="4392815aedee3265613976f6beecb4c8" path="org-w3c/texttracks/defaults-CG-DRAFT.include"
	file hash="37d468bebe0c670309a9f46ee63a11ac" path="org-w3c/texttracks/header-CG-DRAFT.include"
	file hash="5f612253c306b12e41cf0c8db315cc98" path="org-w3c/texttracks/header.include"
	file hash="ad04e0dfeaa074aadf1032f8170ad4db" path="org-w3c/texttracks/status-CG-DRAFT.include"
	file hash="1f99f69bc3964c320233e48176c18a83" path="org-w3c/texttracks/status-WD.include"
	file hash="21b80d8b20bed1cc67b941f72340b784" path="org-w3c/ttwg/defaults.include"
	file hash="760cfb0a9361ec9377092f3715e66eb7" path="org-w3c/ttwg/status-CR.include"
	file hash="83a6cef78e0daa9926c05995b7ac4301" path="org-w3c/ttwg/status-CRD.include"
	file hash="b959fadbfa852b0de35c44ce001d968c" path="org-w3c/ttwg/status-ED.include"
	file hash="e4dd361656cbf82105082fd414f6f04b" path="org-w3c/ttwg/status-FPWD.include"
	file hash="236b65d152af1fb816a7c37442e9c95f" path="org-w3c/ttwg/status-WD.include"
	file hash="9b04889fb21700de002850b49cbff997" path="org-w3c/uievents/status-WD.include"
	file hash="45319aed0978981f81858381d50e03e7" path="org-w3c/w3t/header.include"
	file hash="edbeccd56627e7bd74d26030ad0153ad" path="org-w3c/wasm/abstract.include"
	file hash="7cc36ce5dded7f5d27780b5e7ef877d2" path="org-w3c/wasm/defaults.include"
	file hash="995c777c92643ecfae458a8b151f92cb" path="org-w3c/wasm/status.include"
	file hash="29315650731cbe88fd849d6bfba753fd" path="org-w3c/web-bluetooth-cg/copyright.include"
	file hash="d15b6e87763b113bcc41809bb278a838" path="org-w3c/web-bluetooth-cg/defaults.include"
	file hash="0a309cf38b27d6a563512e78286acc42" path="org-w3c/web-bluetooth-cg/status.include"
	file hash="ffb3615e0056b09febdbc3cbf8921e4f" path="org-w3c/web-payments/defaults.include"
	file hash="b196274e6aea6ce00f745f938d8ee985" path="org-w3c/web-payments/status-FPWD.include"
	file hash="43a38d9977fed7ba270b25463490a996" path="org-w3c/webapps/defaults.include"
	file hash="d8c036f3a90082676cf33e84f34091f6" path="org-w3c/webapps/status.include"
	file hash="77b72f81ec172220cc2024bba4e50452" path="org-w3c/webappsec/defaults.include"
	file hash="eddafba4cd6228111528fdde089e39ae" path="org-w3c/webappsec/status-CR.include"
	file hash="4e96529da27dc59fba0a56cc4824fbe4" path="org-w3c/webappsec/status-CRD.include"
	file hash="66d459e15d452e754a5323b3c61f1c8f" path="org-w3c/webappsec/status-ED.include"
	file hash="abf56058a881d81c0038a48a476f3c00" path="org-w3c/webappsec/status-FPWD.include"
	file hash="87a17847238034bebab14fe80a276a06" path="org-w3c/webappsec/status-LCWD.include"
	file hash="18bd8b4fc8c0c40febedc6f3ecf7fdcd" path="org-w3c/webappsec/status-PR.include"
	file hash="49ae66dca86909f0aa2479ef6b1f78cd" path="org-w3c/webappsec/status-WD.include"
	file hash="3e0953d2342ec5b3a0b285bce571fa9b" path="org-w3c/webauthn/status-CR.include"
	file hash="058f7d569062981a384172515e16b5c2" path="org-w3c/webauthn/status-ED.include"
	file hash="75730ec3577f83d409ac16a79eba0c18" path="org-w3c/webauthn/status-WD.include"
	file hash="89918a4a1e42008d2e1bef6dcdc17af6" path="org-w3c/webediting/defaults.include"
	file hash="50dc6cfafdac642c3116879aaddb80e5" path="org-w3c/webediting/status.include"
	file hash="8747e8de2bd698b392b42212609013f5" path="org-w3c/webfontswg/defaults.include"
	file hash="862e6318c83f3fc4e3c9de5cbea7bce9" path="org-w3c/webfontswg/header-ED.include"
	file hash="2418f392ec91da344f8915793d9459f0" path="org-w3c/webfontswg/status-CR.include"
	file hash="45e60b96908845af4acc005f74f92f68" path="org-w3c/webfontswg/status-ED.include"
	file hash="ad2dbd7918fad99275d3de634ad9c56a" path="org-w3c/webfontswg/status-FPWD.include"
	file hash="bf11551b706c64d08a7d195e6412670b" path="org-w3c/webfontswg/status-WD.include"
	file hash="e8eaa10205d37b9b2449ce1cafe818d5" path="org-w3c/webgpu/copyright.include"
	file hash="dec56f29ad29472418f7861047d1ba71" path="org-w3c/webgpu/status.include"
	file hash="5d19d80328032bb997edff93847183d8" path="org-w3c/webml/copyright.include"
	file hash="fccc91dfe982c2703ac0f00b5df10fde" path="org-w3c/webml/logo.include"
	file hash="c833df04583c4b76614fb820b9afa4bf" path="org-w3c/webml/status.include"
	file hash="d5683ccc62860a546123e2e89a0ed866" path="org-w3c/webmlwg/defaults.include"
	file hash="74e6d1f570d7340bff7e554265e7239e" path="org-w3c/webmlwg/status-CR.include"
	file hash="2ed9acd6b094f570167da1d31119bc82" path="org-w3c/webmlwg/status-CRD.include"
	file hash="a889195c7bec5e46a223abc27fde10e5" path="org-w3c/webmlwg/status-ED.include"
	file hash="89f7c82e96c32e8cf55cb2e566e6ee2e" path="org-w3c/webmlwg/status-FPWD.include"
	file hash="04da384f18991455b7463160bf95ef9a" path="org-w3c/webmlwg/status-WD.include"
	file hash="d15b6e87763b113bcc41809bb278a838" path="org-w3c/webperf/defaults.include"
	file hash="962f50b422965fc5f494c4fb4e1ae4b2" path="org-w3c/webperf/status.include"
	file hash="e56d650ce9781d79bdd91f64f3ca5e89" path="org-w3c/webrtc/defaults.include"
	file hash="6cb0c3def1d9b2a675cbfc08128f45db" path="org-w3c/webrtc/status-CR.include"
	file hash="3a531bfdf4ffffa036efc0d7451ab692" path="org-w3c/webrtc/status-ED.include"
	file hash="9f0cf6b0ce70c1702a3deae3f52c085f" path="org-w3c/webrtc/status-FPWD.include"
	file hash="5cfc5cf98cbe760e44f2af204ac2a10e" path="org-w3c/webrtc/status-WD.include"
	file hash="4c5bbe797464f46f6b2f781597e68e57" path="org-w3c/webspecs/defaults.include"
	file hash="5aaf3514b78a7042e0b046baa5cc38fe" path="org-w3c/webspecs/header.include"
	file hash="1a0b5c151912412b5f30f751c11a5236" path="org-w3c/webtransport/defaults.include"
	file hash="4867a55ccd8b75e34c56b05c0b613af8" path="org-w3c/webtransport/status-CR.include"
	file hash="df2a0633076bf6008938f9e474198817" path="org-w3c/webtransport/status-ED.include"
	file hash="f93e84ad20d84fb206c68b5965212b95" path="org-w3c/webtransport/status-FPWD.include"
	file hash="9dcc258ff7c79beefc30b55f2e9f7bbb" path="org-w3c/webtransport/status-WD.include"
	file hash="a2554e31577e2dcb246424a2b7d5efa6" path="org-w3c/webvr/copyright.include"
	file hash="7d9903c63ce8537f5d4e5edfdb446638" path="org-w3c/webvr/status.include"
	file hash="b4e1e6f552fd08f65db485b6be584010" path="org-w3c/wecg/copyright.include"
	file hash="d15b6e87763b113bcc41809bb278a838" path="org-w3c/wecg/defaults.include"
	file hash="c0ee5cf7142bd135851f8d610ebe63d6" path="org-w3c/wecg/status.include"
	file hash="4bae5fec0494445a43f93adaadab76a5" path="org-w3c/wicg/copyright.include"
	file hash="d15b6e87763b113bcc41809bb278a838" path="org-w3c/wicg/defaults.include"
	file hash="0612f747dc2dd5a0eb4037ca58934034" path="org-w3c/wicg/header.include"
	file hash="f193a2dc8c4d09eec8ce7355a25d626e" path="org-w3c/wicg/status.include"
	file hash="a9641ddf593bdf8156b0fa3e62a1262a" path="org-w3c/wintercg/copyright.include"
	file hash="cc6009c9ce34dbc44afce7bba54575cc" path="org-w3c/wintercg/status.include"
	file hash="32ead95d40d5da0782ae85d0e8c848d7" path="org-whatwg/computed-metadata-LS-COMMIT.include"
	file hash="4beac6a291cf696db2feda97a57fdc2e" path="org-whatwg/computed-metadata-LS-PR.include"
	file hash="e1653db363926bcc088e493d844a14b6" path="org-whatwg/computed-metadata-RD.include"
	file hash="06a94cc4b310a1e4836bac571ed444e6" path="org-whatwg/computed-metadata.include"
	file hash="3cd6525ee6286d98765ba600eaa93105" path="org-whatwg/defaults-RD.include"
	file hash="95f898a48679ceb5c3ea335b3bd94aa8" path="org-whatwg/defaults.include"
	file hash="91e2c82b59ff0dc7d3b10a72ed5d3b66" path="org-whatwg/footer-RD.include"
	file hash="2fcfb92564e49aadf28892936a581e39" path="org-whatwg/footer.include"
	file hash="42c5e780d22d1b3716ce33e636c6efd9" path="org-whatwg/header-RD.include"
	file hash="1bb13bbfc807ccfa8cf1e69986ef6b4f" path="org-whatwg/header.include"
	file hash="190be64861cd8cbde6cfe1dda6867034" path="org-whatwg/warning-custom.include"
	file hash="e67ce07ba5fe7a8910501114c3df6927" path="org-whatwg/warning-obsolete.include"
	file hash="e76f347eda209ca4e22a8fd0339e67a5" path="org-wintertc/copyright.include"
	file hash="5fb2a5bba9c4a0e9e395d7340fd3e121" path="org-wintertc/footer.include"
	file hash="fcb83f565656acfca7ec1d2f8abf207b" path="org-wintertc/header.include"
	file hash="e04a6358b916e0542a95014871166da7" path="org-wintertc/logo.include"
}
